# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Env
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc

# Database
clipcraft.db

# System files
.DS_Store

# Etc. add more as needed
